{% extends "base.html" %}
{% block title %}
  Page 403 csrf
{% endblock title %}
{% block content %}
  <div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <span class="display-1 d-block">403</span>
          <div class="mb-4 lead">
            Запрещено.
            <br>
            CSRF токен недействителен или отсутствует.
          </div>
          <a href="{% url 'users:signup' %}" class="btn btn-link">Войти</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
