{% extends "base.html" %}
{% load static %}
{% block title %}
  Реактивы
{% endblock title %}
{% block content %}
  <h1>Реактивы</h1>
  <a href="{% url 'reagents:create' %}" class="btn btn-primary mb-4">Добавить реактив</a>
  <a href="{% url 'reagents:reagents_table' %}" class="btn btn-primary mb-4">Скачать таблицу реактивов</a>
  <a href="https://t.me/reagents_lab_helper_bot"
     class="btn mb-4"
     style="background-color:#229ED9;
            color: #ffffff;
            border-color: #229ED9;"
     target="_blank">Telegram бот</a>
  <table class="table" id="sortTable">
    <thead>
      <tr>
        <th scope="col">Номер</th>
        <th scope="col">Название реактива</th>
        <th scope="col">Марка</th>
        <th scope="col">Количество, г</th>
        <th scope="col">Дата производства</th>
        <th scope="col">Годен до</th>
      </tr>
    </thead>
    <tbody>
      {% for reagent in page_obj %}
        <tr>
          <td>
            {% if reagent.index %}{{ reagent.index }}{% endif %}
          </td>
          <td>
            <a href="{% url 'reagents:edit' reagent.id %}"
               class="text-decoration-none">{{ reagent.name }}</a>
          </td>
          <td>
            {% if reagent.grade %}{{ reagent.grade }}{% endif %}
          </td>
          <td>
            {% if reagent.amount %}{{ reagent.amount }}{% endif %}
          </td>
          <td>
            {% if reagent.manufacture_date %}{{ reagent.manufacture_date }}{% endif %}
          </td>
          <td>
            {% if reagent.expiration_date %}{{ reagent.expiration_date }}{% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <script>
    new DataTable('#sortTable', {
      lengthMenu: [
        [10, 50, 100, -1],
        [10, 50, 100, 'Все']
      ],
      language: {
        url: "{% static "DataTables-1.13.6/js/ru.json" %}",
    },
    });
  </script>
{% endblock content %}
