{% extends "base.html" %}
{% load user_filters %}
{% block title %}
  {% if is_edit %}
    Редактировать реактив
  {% else %}
    Добавить реактив
  {% endif %}
{% endblock title %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          {% if is_edit %}
            Редактировать реактив
          {% else %}
            Добавить реактив
          {% endif %}
        </div>
        <div class="card-body">
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}<div class="alert alert-danger">{{ error|escape }}</div>{% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}<div class="alert alert-danger">{{ error|escape }}</div>{% endfor %}
          {% endif %}
          {% if messages %}
            <div class="alert alert-success">
              {% for message in messages %}{{ message }}{% endfor %}
            </div>
          {% endif %}
          <form class="row g-2" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-8">
              <label for="id_name">
                Название реактива
                <span class="required text-danger">*</span>
              </label>
              {{ form.name|addclass:"form-control" }}
            </div>
            <div class="col-md-4">
              <label for="id_index">Индекс реактива</label>
              {{ form.index|addclass:"form-control" }}
            </div>
            <div class="col-md-6">
              <label for="id_grade">Марка реактива</label>
              {{ form.grade|addclass:"form-select" }}
            </div>
            <div class="col-md-6">
              <label for="id_amount">Количество, г</label>
              {{ form.amount|addclass:"form-control" }}
            </div>
            <div class="col-md-6">
              <label for="id_manufacture_date">Дата производства</label>
              {{ form.manufacture_date|addclass:"form-control" }}
            </div>
            <div class="col-md-6">
              <label for="id_expiration_date">Годен до</label>
              {{ form.expiration_date|addclass:"form-control" }}
            </div>
            <script>
            $('#id_manufacture_date').datepicker({
                uiLibrary: 'bootstrap5',
                locale: 'ru-ru',
                format: 'dd.mm.yyyy',
                weekStartDay: 1,
            });
            </script>
            <script>
            $('#id_expiration_date').datepicker({
                uiLibrary: 'bootstrap5',
                locale: 'ru-ru',
                format: 'dd.mm.yyyy',
                weekStartDay: 1,
            });
            </script>
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-primary">
                {% if is_edit %}
                  Сохранить
                {% else %}
                  Добавить
                {% endif %}
              </button>
            </div>
          </form>
          {% if is_edit %}
            <div class="d-flex justify-content-center">
              <button type="button"
                      class="btn btn-danger mt-2"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal">Удалить</button>
            </div>
            <div class="modal fade"
                 id="exampleModal"
                 tabindex="-1"
                 aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Удалить реактив?</h1>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Нет</button>
                    <form method="post" action="{% url "reagents:delete" reagent.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Да</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
